# History files
.Rhistory
.Rapp.history

# Intermediate and Cache Files
*.zip
admin/
IsermannMaterial/
CoursePrep/*.log
CoursePrep/*.synctex.gz
CoursePrep/*.tex
CourseMaterial/Figs/*.pdf



.Rproj.user
